<div id="parcel-finder">
    <div id="parcel-tabs-content">
        <div class="custom-tabs">
            <button
                class="custom-tab"
                [class.active]="activeTab === 'finder'"
                (click)="activeTab = 'finder'"
            >
                {{ 'parcelFinder.tab.finder' | translate }}
            </button>
            <button
                class="custom-tab"
                [class.active]="activeTab === 'locator'"
                (click)="activeTab = 'locator'"
            >
                {{ 'parcelFinder.tab.locator' | translate }}
            </button>
            <button
                class="custom-tab"
                [class.active]="activeTab === 'drawer'"
                (click)="activeTab = 'drawer'"
            >
                {{ 'parcelFinder.tab.drawer' | translate }}
            </button>
        </div>
        @switch (activeTab) {
            @case ('finder') {
                <app-parcel-cadastral
                    (parcelFound)="handleParcelFound($event)"
                    (loadingStarted)="handleLoadingStarted($event)"
                    (findParcelRequest)="handleFindParcelRequest($event)"
                    [isLoading] = "isLoading"
                ></app-parcel-cadastral>
            }
            @case ('locator') {
                <app-parcel-locator
                    (parcelFound)="handleParcelFound($event)"
                    (loadingStarted)="handleLoadingStarted($event)"
                    (findParcelRequest)="handleFindParcelRequest($event)"
                    [isLoading] = "isLoading"
                ></app-parcel-locator>
            }
            @case ('drawer') {
                <app-parcel-drawer
                    (parcelFound)="handleParcelFound($event)"
                    (loadingStarted)="handleLoadingStarted($event)"
                    (findParcelRequest)="handleFindParcelRequest($event)"
                    [isLoading] = "isLoading"
                ></app-parcel-drawer>
            }
        }
        <app-parcel-display
            id="display"
            [isLoading]="isLoading"
            [maxLoadingDuration]="maxLoadingDuration"
        ></app-parcel-display>
    </div>
</div>