<body>
    <div class="header-section">
    </div>

    <section class="hero-section">
        <div class="hero-content">
            <div class="hero-text">
                <h2>Optimiza tus Cultivos con Inteligencia Artificial</h2>
                <p>AgrIA te ayuda a cumplir con los requisitos de las subvenciones de la PAC analizando tus imágenes satelitales.</p>
                <a href=#about class="cta-button">Descubre Más</a>
            </div>
            <div class="hero-image">
                <img src="logo.png" alt="Imagen de satélite de campos de cultivo">
            </div>
        </div>
    </section>

    <section id="about" class="about-section content-section">
        <div class="content-card">
            <h2 class="section-title">Acerca de AgrIA</h2>
            <p>
                <span style="font-weight: bold;">El Asistente de Imágenes Agrícolas (AgrIA)</span> es una herramienta de análisis de imágenes y chat inteligente integrado, <span style="font-weight: bold;">especializada en clasificación de imágenes satelitales agrícolas</span>. Diseñada para agricultores y propietarios de tierras, facilita la valoración de sus cultivos y <span style="font-weight: bold;">proporciona un informe que les ayuda a calificar para distintas ayudas de la Unión Europea dentro del marco de la Política Agraria Común.</span>                
            </p>
            <p>
                Para empezar, abre el Localizador de Parcelas, introduce la referencia catastral y confirma la finca mostrada. AgrIA abrirá el chat y te dará un análisis de la imagen, junto con recomendaciones para cumplir con normativas de ecorregímenes de la PAC. Tmabién puedes subir tu propia imagen, pero no tendrá acceso a la información del SIGPAC que se consigue al usar la referencia catastral.
            </p>
        </div>
    </section>

    <section id="features" class="features-section content-section">
        <h2 class="section-title">Características Principales</h2>
        <div class="features-grid">
            <div class="feature-item content-card">
                <h3>Localización de Parcela</h3>
                <p>Encuentra tu parcela de forma automática usando simplemente su referencia catastral.</p>
            </div>
            <div class="feature-item content-card">
                <h3>Análisis de Imagen Satelital</h3>
                <p>Obtén una descripción precisa de tus campos a partir de imágenes satelitales de Sentinel para una visión detallada del terreno.</p>
            </div>
            <div class="feature-item content-card">
                <h3>Análisis de Recursos</h3>
                <p>Recibe recomendaciones personalizadas para un uso eficiente del espacio, especies de cultivos y otros recursos.</p>
            </div>
            <div class="feature-item content-card">
                <h3>Asesoramiento PAC</h3>
                <p>Consigue guía experta para cumplir con los criterios de subvención de la Política Agrícola Común.</p>
            </div>
            <div class="feature-item content-card">
                <h3>Soporte Interactivo</h3>
                <p>Interactúa con AgrIA a través del chat y recibe respuestas actualizadas sobre tus cultivos.</p>
            </div>
        </div>
    </section>

    <section id="how-to-use" class="how-to-use-section content-section">
        <h2 class="section-title">Cómo Interactuar con AgrIA: El Chat</h2>
        <div class="how-to-use-content content-card">
            <h3>Ejemplo de interacción por chat de AgrIA</h3>
            <div class="mockup-container">
                <div class="mockup-section">
                    <div class="mockup-header">
                        <h2>Subir Imagen</h2>
                    </div>
                    <div class="mockup-image-preview">
                        <img src="SR_4-1-P6.jpg" alt="Ejemplo de imagen satelital">
                    </div>
                    <div class="mockup-image-desc">
                        <p>Aquí se mostrará la descripción generada por AgrIA de la imagen satelital subida.</p>
                    </div>
                </div>

                <div class="mockup-section">
                    <div class="mockup-header">
                        <h2>Chat con AgrIA</h2>
                    </div>
                    <div class="mockup-chat-content">
                        <div class="message agria-message">
                            <p>¡Hola! Soy tu Asistente de Imágenes Agrícolas, ¡pero puedes llamarme AgrIA! Mi propósito aquí es analizar imágenes satelitales de campos de cultivo para asistirte...</p>
                        </div>
                        <div class="message user-message">
                            <p>Hola AgrIA, he subido una imagen de mi campo en la parcela 34. ¿Podrías analizar el uso del agua?</p>
                        </div>
                        <div class="message agria-message">
                            <p>Claro, he analizado la imagen de la parcela 34. Parece que hay áreas con bajo índice de vegetación que podrían indicar un uso ineficiente del agua. Te sugiero...<br><br><br><br></p>
                        </div>
                    </div>
                    <div class="mockup-input">
                        <textarea id="mockup-user-input" placeholder="Escribe tu pregunta o comentario aquí..."></textarea>
                        <div class="mockup-input-actions-wrapper">
                            <div class="mockup-input-buttons-wrapper">
                                <button class="input-button">Enviar</button>
                                <button class="input-button get-suggestion">Obtener sugerencia</button>
                            </div>
                            <label class="detailed-description-checkbox">
                                <input type="checkbox" class="description-length">
                                Descripción detallada
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section content-section">
        <div class="content-card">
            <h2 class="section-title">Contáctanos</h2>
            <p>¿Tienes alguna pregunta o necesitas más información? No dudes en ponerte en contacto con nosotros.</p>
            <form class="contact-form">
                <input type="text" placeholder="Tu Nombre" required>
                <input type="email" placeholder="Tu Correo Electrónico" required>
                <textarea placeholder="Tu Mensaje" rows="5" required></textarea>
                <button type="submit" class="cta-button">Enviar Mensaje</button>
            </form>
        </div>
    </section>

    <footer class="main-footer">
        <p>&copy; 2025 AgrIA. Todos los derechos reservados.</p>
        <div class="social-links">
            <a href="#"><img src="logo.png" alt="Facebook"></a>
            <a href="#"><img src="logo.png" alt="Twitter"></a>
            <a href="#"><img src="logo.png" alt="LinkedIn"></a>
        </div>
    </footer>
</body>