<div id="help-guide">
    <div class="intro">
        
        <h2>{{ "help.intro.header" | translate}}</h2>
        <p>{{ "help.intro.content" | translate}}</p>
    </div>
    <div class="views-guide">
        <div class="home-guide">
            <img src="" alt="{{ 'help.views.home-alt' | translate }}">
        </div>
        <div class="parcel-finder-guide">
            <img src="" alt="{{ 'help.views.parcel-finder-alt' | translate }}">

        </div>
        <div class="chat-guide">
            <img src="" alt="{{ 'help.views.chat-alt' | translate }}">

        </div>
    </div>
    <div class="faq">
        <ul>
            
        </ul>
    </div>
</div>