:host {
    --bg-color:#e0e0e0;
    --completion-color1: #4CAF50;
    --completion-color2: #22a7ff;
    --status-text-color: #dc3545;
}
.progress-container {
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 25px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.progress-bar {
  height: 100%;
  background-color: var(--completion-color2); /* Gradio green-like color */
  width: 0%;
  transition: width 0.1s ease-out; /* Smooth transition for progress updates */
  position: absolute;
  top: 0;
  left: 0;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #333;
  font-family: monospace;
  font-size: 0.9em;
  z-index: 1; /* Ensure text is above the bar */
  display: flex;
  justify-content: center;
  align-items: center;
}

.elapsed-time {
  font-weight: bold;
}

.separator {
  margin: 0 5px;
}

.max-time {
  color: #666;
}

.status-text {
  margin-left: 5px;
  font-size: 1em;
  color: var(--status-text-color); /* Example color for status */
}