<div class="content">
    <div class="parcel-finder-display">
        <div class="display-title">
            <h2>{{ 'parcelFinder.selectedParcel' | translate }}</h2>
        </div>
        <app-progress-bar
            [isProcessing]="isLoading()"
            [durationInSeconds]="this.maxLoadingDuration"
        ></app-progress-bar>
        <div class="display-box">
            @if(parcelImageUrl){
                <img [src]="parcelImageUrl" alt="Preview" />
            } @else {
                <img class="image-icon" src="img/image-icon.png" alt="Upload image" />
            }
        </div>
        <div class="display-buttons">
            @if(parcelImageUrl){
                <div class="parcel-actions-wrapper">
                    <label class="detailed-description-checkbox">
                        <input 
                            type="checkbox"
                            class="description-length"
                            [(ngModel)]="isDetailedDescription"
                        >
                        {{ 'parcelFinder.detailedDescription' | translate }}
                    </label>
                    <button 
                        class="confirm-parcel-button" (click)="confirmParcel()"
                    >
                        {{ 'parcelFinder.confirmParcel' | translate }}
                    </button> 
                </div>
            }
        </div>
    </div>
</div>