/* You can add global styles to this file, and also import other style files */
:root {
    --success-color: #4CAF50; /* Green for success */
    --info-color: #22a7ff; /* Blue, similar to the logo */
    --error-color: #dc3545; /* Red for errors */
    --warning-color: #FFC107; /* Amber for warnings */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Success Snackbar */
.success-snackbar {
    border-radius: 5pt;
    background-color: var(--success-color) !important; /* Green */
    color: white !important;
    font-weight: bold;
}

/* Error Snackbar */
.error-snackbar {
    border-radius: 5pt;
    background-color: var(--error-color)!important; /* Red */
    color: white !important;
}

/* Info Snackbar */
.info-snackbar {
    border-radius: 5pt;
    background-color: var(--info-color)!important; /* Blue */
    color: white !important;
    max-width: 450px;
}

/* Warning Snackbar */
.warning-snackbar {
    border-radius: 5pt;
    background-color: var(--warning-color) !important; /* Amber/Yellow */
    color: #333 !important; /* Dark text for contrast */
}